<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:;base64,=">
    <meta charset="UTF-8">
    <title>Blocks</title>
    <style>
        table {
            width: 200px;
            margin: auto;
            }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
<h1 style="text-align: center">Блоки</h1>
<h4 style="text-align: center">{{ date }}</h4>
    <form method="post" style="text-align: center">
        {% csrf_token %}
        <input type="date" id="start" name="date-for-blocks"
       value="{{ today }}" min="2020-03-01">
        <button type="submit">Сменить дату</button>
    </form>
<br>
{% if blocks %}
    <table>
       <tr>
        <th>Высота</th>
        <th>Хэш блока</th>
       </tr>

    {% for block in blocks %}
    <tr>
                   <td>
                       <a href="/blocks/{{ block.height }}/">{{ block.height }}</a>
                   </td>
                   <td>{{ block.hash }}</td>
    </tr>
{% endfor %}
</table>
    <div class="pagination" style="text-align: center">
        <span class="step-links">
            {% if blocks.has_previous %}
                <a href="?page={{ blocks.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ blocks.number }} of {{ blocks.paginator.num_pages }}.
            </span>

            {% if blocks.has_next %}
                <a href="?page={{ blocks.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p style="text-align: center"> ОШИБКА! Попробуйте перезагрузить страницу. Если ошибка повторится, то блоков не найдено!</p>
{% endif %}

</body>
</html>